RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteRule ^inscription-connexion(.*)$ inscription-connexion.php [L]
RewriteRule ^gestion-boutique-connexion(.*)$ gestion-boutique-connexion.php [L]

RewriteRule ^index(.*)$ index.php [L]
RewriteRule ^gestion-boutique-connexion(.*)$ gestion-boutique-connexion.php [L]

RewriteRule ^boutdechantier/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ boutdechantier.php?type=$1&categorie=$2&ville=$3&commune=$4 [NC,L,QSA]
RewriteRule ^boutdechantier/([^/]+)/([^/]+)/?$ boutdechantier.php?type=$1&text=$2 [NC,L,QSA]
RewriteRule ^boutdechantier/([^/]+)/?$ boutdechantier.php?type=$1 [NC,L,QSA]
RewriteRule ^boutdechantier(.*)$ boutdechantier.php [L]

RewriteRule ^promotions/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ promotions.php?type=$1&categorie=$2&profession=$3&debut=$4&fin=$5&ville=$6&commune=$7 [NC,L,QSA]
RewriteRule ^promotions/([^/]+)/([^/]+)/?$ promotions.php?type=$1&text=$2 [NC,L,QSA]
RewriteRule ^promotions/([^/]+)/?$ promotions.php?type=$1 [NC,L,QSA]
RewriteRule ^promotions(.*)$ promotions.php [L]

RewriteRule ^evenements/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ evenements.php?type=$1&categorie=$2&debut=$3&fin=$4&ville=$5&commune=$6 [NC,L,QSA]
RewriteRule ^evenements/([^/]+)/([^/]+)/?$ evenements.php?type=$1&text=$2 [NC,L,QSA]
RewriteRule ^evenements/([^/]+)/?$ evenements.php?type=$1 [NC,L,QSA]
RewriteRule ^evenements(.*)$ evenements.php [L]

RewriteRule ^utilisateur/(\d+)?$ utilisateur.php?user=$1 [L]
RewriteRule ^utilisateur/([^/]+)(/([^/]+))?$ utilisateur.php?user=$1&pub=$3 [L]

RewriteRule ^profile-parametres/(.*)$ profile-parametres.php?act=$1 [L]

RewriteRule ^boutique/(\d+)?$ boutique.php?btq=$1 [L]
RewriteRule ^boutique/([^/]+)(/([^/]+))?$ boutique.php?btq=$1&prd=$3 [L]

RewriteRule ^gerer-boutique/(\d+)?$ gerer-boutique.php?btq=$1 [L]

RewriteRule ^gerer-boutique/([^/]+)(/([^/]+))?$ gerer-boutique.php?btq=$1&crp=$3 [L]
RewriteRule ^gerer-boutique/([^/]+)(/([^/]+))?$ gerer-boutique.php?btq=$1&ntf=$3 [L]
RewriteRule ^gerer-boutique/([^/]+)(/([^/]+))?$ gerer-boutique.php?btq=$1&admin=$3 [L]
RewriteRule ^gerer-boutique/([^/]+)(/([^/]+))?$ gerer-boutique.php?btq=$1&updt=$3 [L]

RewriteRule ^messagerie/(.*)$ messagerie.php?user=$1 [L]

RewriteRule ^recherche/([^/]+)/([^/]+)/([^/]+)/?$ recherche.php?type_r=$1&type_f=$2&text=$3 [NC,L,QSA]
RewriteRule ^recherche/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ recherche.php?type_r=$1&type_f=$2&categorie=$3&profession=$4&ville=$5&commune=$6 [NC,L,QSA]
