.categorie-search-bar{
    margin-left: 10px;
}
.categorie-search-bar input{
    display: none !important;
}
.categorie-search-bar div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ecedee;
    cursor: pointer;
}
.categorie-search-bar div:hover{
    background: #e0e0e0;
}
.categorie-search-bar div i{
    color: #000;
}
.boutdechantier-recherche-responsive{
    display: none;
}
.boutdechantier-left{
    width: 360px;
    height: calc(100vh - 60px);
    background: #ffffff;
    position: fixed;
    overflow: hidden;
}
.boutdechantier-left h2{
    margin: 0;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}
.boutdechantier-left hr{
    margin: 10px auto 0px;
}
.boutdechantier-recherche{
    width: 100%;
    position: relative;
    margin-top: 10px;
    text-align: center;
}
.boutdechantier-recherche input{
    width: 90%;
    background: #ecedee;
    padding: 12.5px 10px 12.5px 35px;
    box-sizing: border-box;
    border: none;
    border-radius: 22.5px;
    outline: none;
}
.boutdechantier-recherche i{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(126, 126, 126);
}
.boutdechantier-categories{
    width: 99%;
    overflow-y: auto;
    height: calc(100vh - 175px);
}
/* .boutdechantier-categories::-webkit-scrollbar-track{
	background-color: #ecedee;
} */
.boutdechantier-categories::-webkit-scrollbar{
    width: 8px;
}
.boutdechantier-categories::-webkit-scrollbar-thumb{
    background-color: #929292;
    border-radius: 5px;
}
.boutdechantier-categorie-top{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.boutdechantier-categorie-top h3{
    margin: 0;
}
.boutdechantier-categorie-bottom{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.bt-categorie{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.bt-categorie:hover{
    background: #e0e0e0;
}
.bt-categorie div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ecedee;
    overflow: hidden;
    position: relative;
}
.bt-categorie div img{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bt-categorie p{
    margin: 0 0 0 10px;
}
.bt-sous-gategorie{
    position: absolute;
    top: 110px;
    left: 0;
    width: 99%;
    overflow-y: auto;
    overflow-x: none;
    height: calc(100vh - 175px);
    transform: translateX(101%);
    transition: transform 0.4s ease-in-out;
    background: #ffffff;
}
.bt-sous-gategorie::-webkit-scrollbar{
    width: 8px;
}
.bt-sous-gategorie::-webkit-scrollbar-thumb{
    background-color: #929292;
    border-radius: 5px;
}
.bt-sous-gategorie-top{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    justify-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}
.bt-sous-gategorie-top h3{
    margin: 0;
    font-size: .95rem;
}
.bt-sous-gategorie-top div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ecedee;
    overflow: hidden;
    position: relative;
}
.bt-sous-gategorie-top div:first-child{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: none;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.bt-sous-gategorie-top div:first-child:hover{
    background: #ecedee;
}
.bt-sous-gategorie-top div img{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bt-sous-gategorie-top div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.boutdechantier-right{
    width: calc(100% - 360px);
    margin-left: 360px;
}
.boutdechantier-right-top{
    width: 90%;
    height: 250px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 20% 56% 20%;
    grid-gap: 2%;
}
.boutdechantier-right-slider{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.boutdechantier-right-slider-img{
    width: 100%;
    height: 100%;
}
.boutdechantier-right-slider-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.current-slide{
    opacity: 1 !important;
}
.boutdechantier-right-slider #prev_slide,
.boutdechantier-right-slider #next_slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 15px;
    cursor: pointer;
    color: #000;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
}
.boutdechantier-right-slider #prev_slide:hover,
.boutdechantier-right-slider #next_slide:hover{
    background: #e0e0e0;
}
#prev_slide{
    left: 10px;
}
#next_slide{
    right: 10px;
}
#prev_slide i{
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#next_slide i{
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.boutdechantier-right-pub{
    width: 150px;
    height: 100%;
    background: #000;
    margin: auto;
}


@media only screen and (max-width: 768px) {
    .navbar{
        height: 40px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        z-index: 60;
    }
    .clear{
        height: 40px;
    }
    .boutdechantier-recherche{
        display: none;
    }
    .boutdechantier-recherche-responsive{
        display: grid;
        grid-template-columns: 13% 61% 13% 13%;
        align-items: center;
        justify-items: center;
        background: #ffffff;
        padding: 3.5px 0;
        box-sizing: border-box;
    }
    #boutdechantier_recherche_responsive{
        width: 100%;
        position: relative;
    }
    #boutdechantier_recherche_responsive input{
        width: 96%;
        position: relative;
        background: #ecedee;
        padding: 8px 8px 10px 35px;
        box-sizing: border-box;
        border: none;
        border-radius: 22.5px;
        outline: none;
        margin-left: 7px;
    }
    #boutdechantier_recherche_responsive i{
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(126, 126, 126);
    }
    #back_history,
    #display_categories,
    #display_filter{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        background: #ecedee;
    }
    #back_history{
        margin-left: 13px;
    }
    #display_filter{
        margin-right: 13px;
    }
    #back_history i,
    #display_categories i,
    #display_filter i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .boutdechantier-left{
        width: 80%;
        height: calc(100vh - 40px);
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
        z-index: 60;
        top: 40px;
    }
    .boutdechantier-left h2,
    .boutdechantier-left hr{
        display: none;
    }
    .boutdechantier-recherche div{
        display: block;
    }
    .boutdechantier-categories{
        width: 100%;
        height: calc(100vh - 40px);
    }
    .boutdechantier-categories::-webkit-scrollbar{
        width: 0;
    }
    .bt-sous-gategorie{
        top: 0px;
        height: calc(100vh - 40px);
    }
    .bt-categorie{
        grid-template-columns: 20% 80%;
    }
    .boutdechantier-right{
        width: 100%;
        margin-left: 0;
        z-index: -1;
    }
    .boutdechantier-right-top{
        width: 97%;
        margin: 5px auto;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 0%;
    }
    .boutdechantier-right-pub{
        display: none;
    }
}