.boutique-container{
    width: 100%;
}
.boutique-top{
    width: 100%;
    background: #ffffff;
}
.boutique-couverture-logo{
    width: 940px;
    height: 340px;
    margin: auto;
    position: relative;
}
.boutique-couverture{
    width: 100%;
    height: 100%;
}
.boutique-couverture img{
    width: 100%;
    height: 100%;
}
.couverture-modification-icon{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    background: #ecedee;
    border-radius: 15px;
    cursor: pointer;
}
.couverture-modification-icon:hover{
    background: #e0e0e0;
}
.couverture-modification-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.boutique-logo{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 3px rgb(255, 255, 255);
    overflow: hidden;
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
}
.boutique-logo img{
    width: 100%;
    height: 100%;
}
.logo-modification-icon{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 30px;
    background: #ecedee;
    border-radius: 15px;
    cursor: pointer;
}
.logo-modification-icon:hover{
    background: #e0e0e0;
}
.logo-modification-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.boutique-options{
    width: 940px;
    margin: auto;
}
.boutique-name{
    width: 100%;
    text-align: center;
}
.boutique-option{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 10% 10%;
}