.gb-connexion-container{
    width: 550px;
    /* margin: 20px auto; */
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    border-radius: 10px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gb-connexion-container h3{
    display: none;
}
.gb-connexion{
    width: 80%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}
.gb-connexion h4{
    margin: 10px auto 30px;
    text-transform: uppercase;
}
.gb-connexion div{
    margin-bottom: 10px;
    position: relative;
}
.gb-connexion div input{
    width: 100%;
    padding: 18px 12px 12px;
    box-sizing: border-box;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
    background: #ecedee;
}
.gb-connexion div span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: .9rem;
    font-weight: bold;
    left: 12px;
    opacity: .4;
}
.gb-connexion a{
    font-size: .9rem;
    text-decoration: none;
    color: #000;
}
.gb-connexion button{
    display: block;
    width: 100%;
    margin: 20px auto;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    outline: none;
    background: #000000dc;
    color: #fff;
    font-weight: bold;
}
.gb-connexion button:hover{
    background: #000000;
}
.active-gb-connexion-span{
    top: 5px !important;
    transform: none !important;
    font-size: .7rem !important;
}
#loader_cnx_btq { 
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 5px solid rgb(0, 0, 0); 
    width: 4px; 
    height: 40px; 
    animation: spin 1s linear infinite; 
} 
@media only screen and (max-width: 768px) {
    .gb-connexion-container{
        width: 100%;
        /* margin: auto; */
        height: calc(100% - 50px);
        background: #ffffff;
        box-shadow: none;
        border-radius: 0;
        text-align: center;
        position: fixed;
        top: 50px;
        left: 0;
        transform: none;
    } 
    .gb-connexion{
        width: 95%;
        margin: auto;
        padding: 10px;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .gb-connexion h4{
        margin: 10px auto 30px;
        text-transform: uppercase;
        font-size: .9rem;
    }
}