.carousel{
    width: 100%;
    height: 100vh;
}
.carousel img{
    width: 100%;
    height: 100%;
}
.titre{
    margin-top: -10px;
    width: 100%;
    text-align: center;
    display: flex;
}
.titre hr{
    width: 40%;
    border: none;
    border-top: 2px solid var(--primary-color);
}
.titre p{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    width: 20%;
    padding: 15px 20px;
    background-color: var(--primary-color);
    border-radius: 25px;
    margin-top: -15px;
    color: #fff;
}
.entreprises{
    width: 100%;
}
.entreprises-container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
}
.entreprise-description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7%;
    margin: 7% 0 7% 0;
}
.entreprise-description img{
    width: 100%;
    z-index: -1;
}
.entrp-dscrp{
    align-self: center;
    text-align: end;
}
.entrp-dscrp p{
    text-align: justify;
}
.entrp-dscrp a{
    text-decoration: none;
    background: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
}
.produits-services-promotions{
    margin-top: -10px;
    width: 100%;
}
.produits-services-promotions-container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,31.3%);
    grid-gap: 0 3%;
}
.produit-service{
    width: 100%;
    margin: 10% 0 0 0;
    background: var(--primary-color) !important;
    box-shadow: 0px 0px 5px -2px #000000;
    text-align: center;
}
.produit-service img{
    width: 100%;
    height: 60%;
}
.produit-service input{
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.evenements{
    width: 100%;
}
.evenements-container{
    width: 90%;
    margin: auto;
}
.evenement-description{
    width: 100%;
    display: grid;
    grid-gap: 2% 0;
    grid-template-rows: 2rf 1fr;
    background: var(--primary-color);
}
.evnmnt-dscrp{
    width: 100%;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 1fr 1fr;
}
.evnmnt-dscrp p{
    width: 90%;
    align-self: center;
    justify-self: center;
    text-align: justify;
}
.evnmnt-dscrp img{
    width: 100%;
    height: 370px;
    align-self: center;
    justify-self: center;
}
.evnmnt-imgs{
    width: 100%;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(4,24.25%);
}
.evnmnt-imgs img{
    width: 100%;
    height: 200px;
}
.familles{
    width: 100%;
}
.familles-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: repeat(4,1fr);
}
.famille{
    width: 100%;
    text-align: center;
}
.famille img{
    width: 100%;
    border: 3px var(--primary-color) solid;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .responsive-container{
        width: 100%;
    }
    .responsive-container::-webkit-scrollbar{
        display: none;
    }
    .carousel{
        width: 100%;
        height: 300px;
    }
    .titre hr{
        width: 7.5%;
    }
    .titre p{
        width: 85%;
        padding: 10px 20px;
        margin-top: -10px;
        box-sizing: border-box;
    }
    .entreprises-container{
        width: 95%;
        grid-template-columns: 100%;
        grid-gap: 0;
    }
    .entreprise-description{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 0;
        margin: 10px auto 20px;
    }
    .entreprise-description img{
        width: 100px;
        justify-self: center;
    }
    .entrp-dscrp{
        align-self: center;
        text-align: center;
    }
    .entrp-dscrp a{
        padding: 7.5px 15px;
        box-sizing: border-box;
        justify-self: center;
    }
    .clear-responsive{
        height: 30px;
    }
    .produits-services-promotions{
        margin-top: 0;
    }
    .produits-services-promotions-container{
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 0;
    }
    .produit-service{
        width: 100%;
        margin: 10px auto;
    }
    .produit-service img{
        width: 200px;
    }
    .evenements{
        display: none;
    }
    .familles{
        width: 100%;
    }
    .familles-container{
        width: 95%;
        margin: auto;
        display: grid;
        grid-gap: 0 10%;
        grid-template-columns: repeat(2,45%);
    }
    .famille img{
        width: 100px;
    }
}