.inscription-connexion-container{
    width: 550px;
    height: 550px;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-65%);
}
.inscription-container,
.connexion-container{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    background: #ffffff;
    text-align: center;
    transition: transform ease-in-out 1s,visibility ease-in-out 1s,opacity ease-in-out 1s;
}
.inscription-container{
    transform: rotateY(-180deg);
}
.inscription, 
.connexion{
    width: 400px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.connexion h4,
.inscription h4{
    text-transform: uppercase;
    padding: 10px;
    box-sizing: border-box;
}
.inscription h4{
    margin: 0 auto 30px;
}
.connexion div,
.inscription div{
    position: relative;
    margin-bottom: 10px;
}
.connexion div input,
.inscription div input{
    width: 100%;
    padding: 18px 12px 12px;
    box-sizing: border-box;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
    background: #ecedee;
}
.connexion div span,
.inscription div span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: .9rem;
    font-weight: bold;
    left: 12px;
}
.active-cnx-connexion-span{
    top: 5px !important;
    transform: none !important;
    font-size: .7rem !important;
    opacity: .6;
}
.connexion p,
.inscription p{
    font-size: .8rem;
    color: red;
    margin: 5px 5px 10px;
    text-align: center;
}
.connexion a{
    font-size: .9rem;
    text-decoration: none;
    color: #000;
}
.connexion button,
.inscription button{
    display: block;
    width: 100%;
    margin: 20px auto;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    outline: none;
    background: #000000dc;
    color: #fff;
    font-weight: bold;
}
.connexion button:hover,
.inscription button:hover{
    background: #000000;
}
.connexion button:last-child,
.inscription button:last-child{
    width: 100px;
    display: inline-block;
    margin-left: 10px;
}
.connexion h5{
    margin: 40px auto 0;
    padding: 30px 10px;
    box-sizing: border-box;
    color: #000;
    border-top: 2px solid #ecedee;
}
.inscription h5{
    margin: 20px auto 0;
    padding: 10px 10px;
    box-sizing: border-box;
    color: #000;
    border-top: 2px solid #ecedee;
}

.mobile-email-confirmation{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    background: #ffffff;
    text-align: center;
}
.email-confirmation,
.mobile-confirmation{
    width: 400px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.email-confirmation h3,
.mobile-confirmation h3{
    color: #000;
    margin: 0;
    padding: 30px 10px 10px;
    box-sizing: border-box;
}
.email-confirmation h4,
.mobile-confirmation h4{
    line-height: 1.3rem;
    font-size: .95rem;
    width: 100%;
    margin: 10px auto 30px;
}
.email-confirmation div,
.mobile-confirmation div{
    position: relative;
    margin-bottom: 10px;
}
.email-confirmation span,
.mobile-confirmation span{
    position: absolute;
    font-weight: bold;
    left: 12px;
    top: 5px;
    font-size: .7rem;
    opacity: .6;
}
.email-confirmation input,
.mobile-confirmation input{
    width: 100%;
    padding: 18px 12px 12px;
    box-sizing: border-box;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
    background: #ecedee;
}
.email-confirmation button,
.mobile-confirmation button{
    display: block;
    width: 100%;
    margin: 20px auto;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    outline: none;
    background: #000000dc;
    color: #fff;
    font-weight: bold;
}
.email-confirmation button:hover,
.mobile-confirmation button:hover{
    background: #000000;
}

.inscription-details-container{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    z-index: 150;
}
.inscription-details-container-responsive{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    margin-top: 20px;
}
.inscription-choice{
    justify-self: center;
    align-self: center;
}
.inscription-choice p{
    font-weight: bold;
    font-size: 1.3rem;
}
.inscription-client-professionnel-final{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 95%;
    background: #ffffff;
    border-radius: 5px;
    display: none;
    z-index: 150;
}
.close-final-inscription{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: rgb(137, 218, 238);
    cursor: pointer;
}
.close-final-inscription:hover{
    background: coral;
}
.close-final-inscription i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
}
.inscription-final-details{
    width: 95%;
    margin: 70px auto 0px;
    padding: 10px;
    box-sizing: border-box;
    border-top: 2px solid rgb(137, 218, 238);
    border-bottom: 2px solid rgb(137, 218, 238);
}
.inscription-client-final-details,
.inscription-professionnel-final-details{
    width: 100%;
    height: 390px;
    overflow-y: auto;
}
.inscription-client-final-details::-webkit-scrollbar-track,
.inscription-professionnel-final-details::-webkit-scrollbar-track{
	background-color: var(--primary-color);
}
.inscription-client-final-details::-webkit-scrollbar,
.inscription-professionnel-final-details::-webkit-scrollbar{
	width: 5px;
}
.inscription-client-final-details::-webkit-scrollbar-thumb,
.inscription-professionnel-final-details::-webkit-scrollbar-thumb{
    background-color: coral;
    width: 5px;
}
.inscription-client-final-details p,
.inscription-professionnel-final-details p{
    font-size: .95rem;
}
.inscription-client-professionnel-final input[type='submit']{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    background: rgb(137, 218, 238);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
}.inscription-client-professionnel-final input[type='submit']:hover{
    background: coral;
}
.client-inscription,
.profession-inscription{
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
}
.inscription-client-details,
.inscription-profession-details{
    width: 400px;
    height: 400px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    overflow: hidden;
}
.inscription-avantages{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.inscription-avantages img{
    width: 60%;
    margin-top: 20px;
}
.inscription-client-details button,
.inscription-profession-details button{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 3px;
    background: rgb(137, 218, 238);
    cursor: pointer;
    font-weight: bold;
}
.inscription-client-details button:hover,
.inscription-profession-details button:hover{
    background: coral;
}
#delete_user_form{
    display: none;
}
#loader_load { 
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 3px solid #000; 
    width: 40px; 
    height: 40px; 
    animation: spin 1s linear infinite; 
}
.alert-inscription-connexion{
    width: 550px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #000000;
    padding: 10px;
    box-sizing: border-box;
    z-index: 10;
    display: none;
    grid-template-columns: 15% 85%;
    justify-items: center;
    align-items: center;
}
.alert-inscription-connexion div{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid red;
    position: relative;
}
.alert-inscription-connexion div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: red;
}
.alert-inscription-connexion p{
    margin: 10px;
    color: #fff;
    font-size: .95rem;
}

@media only screen and (max-width: 768px) {
    .inscription-connexion-container{
        width: 100%;
        margin-top: -5px;
    }
    .inscription-container,
    .connexion-container{
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 0;
    }
    .inscription, 
    .connexion{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-30%);
    }
    .connexion div{
        position: relative;
        width: 320px;
        margin-bottom: 10px;
    }
    .connexion button{
        margin-top: 20px;
    }
    .inscription input,
    .inscription select{
        width: 90%;
    }
    .inscription h5{
        margin: 20px auto 0;
        padding: 10px;
    }
    .inscription button{
        padding: 12px 0;
        display: block;
        margin: auto;
        margin-top: 10px;
    }
    .inscription h4{
        margin: 0 auto 10px;
    }
    .mobile-email-confirmation-container{
        margin-top: 0px;
        height: 100%;
    }
    .mobile-email-confirmation{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .email-confirmation input[type='text'],
    .mobile-confirmation input[type='text']{
        width: 70%;
    }

    .inscription-details-container-responsive{
        grid-template-columns: 1fr;
        grid-template-rows: 47% 6% 47%;
        grid-gap: 0%;
        margin: auto;
    }
    .inscription-client-professionnel-final{
        width: 95%;
        height: 90%;
    }
    .inscription-client-details,
    .inscription-profession-details{
        width: 70%;
        height: 85% !important;
    }
    .profession-inscription{
        margin: 0 auto;
    }
    .inscription-final-details{
        width: 95%;
        margin: 60px auto 10px;
        padding: 10px;
    }
    .inscription-final-details p{
        line-height: 1.3rem;
        font-size: .95rem;
        margin: 0;
    }
}