.inscription-connexion-container{
    width: 600px;
    height: 500px;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inscription-container,
.connexion-container{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    background: #ffffff;
    text-align: center;
    transition: transform ease-in-out 1s,visibility ease-in-out 1s,opacity ease-in-out 1s;
}
.inscription-container{
    transform: rotateY(-180deg);
}
.inscription, 
.connexion{
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inscription hr, 
.connexion hr{
    width: 400px;
}
.connexion h4,
.inscription h4{
    text-transform: uppercase;
    padding: 10px;
    box-sizing: border-box;
}
.inscription h4{
    margin: 0 auto 20px;
}
.verify-email-input,
.connexion-input,
.inscription-input{
    position: relative;
    width: 400px;
    margin: 0 auto 10px;
}
.verify-email-input input,
.connexion-input input,
.inscription-input input{
    width: 100%;
    padding: 18px 12px 12px;
    box-sizing: border-box;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
    z-index: 10;
    background: rgba(209, 209, 209, 0.3);
}
.verify-email-input span,
.connexion-input span,
.inscription-input span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: .9rem;
    font-weight: bold;
    left: 12px;
    opacity: .4;
    z-index: -1;
}
.verify-email-input div,
.connexion-input div,
.inscription-input div{
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(108%,-50%);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    background: #bd2121;
    min-height: 35px;
}
.verify-email-input div p,
.connexion-input div p,
.inscription-input div p{
    margin: 0;
    font-size: .85rem;
    color: #fff;
}
.verify-email-input div i,
.connexion-input div i,
.inscription-input div i{
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    color: #bd2121;
    font-size: 1.5rem;
}
.active-cnx-connexion-span{
    top: 5px !important;
    transform: none !important;
    font-size: .7rem !important;
}
.connexion a{
    font-size: .9rem;
    text-decoration: none;
    color: #000;
}
.connexion button:last-child,
.inscription button:last-child{
    width: 100px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    outline: none;
    background: #000000dc;
    color: #fff;
    font-weight: bold;
}
.connexion h5{
    margin: 40px auto 0;
    padding: 30px 10px;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
}
.inscription h5{
    margin: 20px auto 0;
    padding: 10px 10px;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
}

.mobile-email-confirmation{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    background: #ffffff;
    text-align: center;
}
.email-confirmation,
.mobile-confirmation{
    width: 400px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.email-confirmation h3,
.mobile-confirmation h3{
    color: #000;
    margin: 0;
    padding: 30px 10px 10px;
    box-sizing: border-box;
}
.email-confirmation h4,
.mobile-confirmation h4{
    line-height: 1.3rem;
    font-size: .95rem;
    width: 100%;
    margin: 10px auto 30px;
}

.inscription-details-container{
    width: 550px;
    height: 550px;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-65%);
}
.inscription-details{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px -9px rgba(0,0,0,0.75);
    background: #ffffff;
    text-align: center;
}
.inscription-details h4{
    text-transform: uppercase;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
}
.inscription-details-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: auto;
    background: #ecedee;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.inscription-details-button{
    z-index: 10;
    cursor: pointer;
    padding: 15px 10px;
    box-sizing: border-box;
}
.inscription-details-button p{
    margin: 0;
    font-size: .95rem;
    font-weight: bold;
}
.active-button{
    color: #fff;
}
.inscription-details-background{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000000dc;
    z-index: 1;
    transition: transform 0.5s ease-in-out;
}
.inscription-details-bottom{
    width: 90%;
    margin: 10px auto;
    height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #ecedee;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.inscription-details-bottom::-webkit-scrollbar-track{
	background-color: #ecedee;
}
.inscription-details-bottom::-webkit-scrollbar{
	width: 8px;
}
.inscription-details-bottom::-webkit-scrollbar-thumb{
    background-color: #929292;
    border-radius: 5px;
}
.inscription-professionnel-information,
.inscription-client-information{
    text-align: left;
    transition: transform 0.5s ease-in-out;
    position: absolute;
}
.inscription-client-information{
    transform: translateX(100%);
}
.inscription-professionnel-information h4,
.inscription-client-information h4{
    margin: 0;
    padding: 0;
    font-size: .9rem;
}
.inscription-professionnel-information p,
.inscription-client-information p{
    margin: 5px 0;
    font-size: .9rem;
}
.inscription-details button{
    width: 90%;
    margin: 10px auto;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    outline: none;
    background: #000000dc;
    color: #fff;
    font-weight: bold;
}
.inscription-details button:hover{
    background: #000000;
}

#loader_load { 
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 3px solid #000; 
    width: 40px; 
    height: 40px; 
    animation: spin 1s linear infinite; 
}

@media only screen and (max-width: 768px) {
    .inscription-connexion-container{
        width: 100%;
        min-height: calc(100vh - 50px);
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .inscription-container,
    .connexion-container{
        border-radius: 0;
    }
    .inscription, 
    .connexion{
        width: 90%;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 0;
    }
    .inscription-details-button{
        padding: 12px 10px;
    }
    .inscription hr, 
    .connexion hr{
        width: 100%;
    }
    .verify-email-input div,
    .connexion-input div,
    .inscription-input div{
        position: absolute;
        left: 50%;
        min-width: 100%;
        top: -45px;
        transform: translateX(-50%);
        padding: 10px;
        box-sizing: border-box;
        border-radius: 3px;
        background: #bd2121;
    }
    .verify-email-input div i, 
    .connexion-input div i, 
    .inscription-input div i {
        position: absolute;
        left: 53%;
        bottom: -23px;
        transform: translateX(-50%) rotate(-90deg);
        font-size: 1.5rem;
        color: #bd2121;
    }
    .create-publication-bottom-button{
        display: block;
        width: 100% !important;
    }
    .create-publication-bottom-button button{
        width: 100% !important;
    }
    .verify-email-input,
    .connexion-input,
    .inscription-input{
        position: relative;
        width: 100%;
        margin: 0 auto 10px;
    }
    .mobile-email-confirmation{
        width: 100%;
        min-height: calc(100vh - 50px);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;
    }
    .email-confirmation,
    .mobile-confirmation{
        width: 90%;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .inscription-details-container{
        width: 100%;
        min-height: calc(100vh - 50px);
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #ffffff;
    }
    .inscription-details{
        border-radius: 0;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: none;
    }
    .inscription-details h4{
        text-transform: uppercase;
        padding: 10px;
        box-sizing: border-box;
        margin: 0;
    }
    .inscription-details button{
        width: 90% !important;
        margin: 5px auto !important;
    }
    .inscription-details #loader_create_publication_bottom_button{
        margin-top: 10px;
        right: 25px;
    }
    .inscription-details-bottom{
        width: 90%;
        height: 360px;
    }
    .alert-messages{
        text-align: center;
        width: 80%;
    }
}