.offre-details{
    width: 90%;
    margin: 35px auto;
}
.offre-top-description{
    width: 100%;
    box-shadow: 0px 0px 3px 0px var(--primary-color);
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-gap: 1%;
    padding: 5px;
    box-sizing: border-box;
    background: #ffffff;
    position: relative;
}
.offre-top-description img{
    width: 100px;
    justify-self: center;
    align-self: center;
}
.offre-top-description h4{
    margin: 10px;
    font-size: 1.1rem;
    color: var(--primary-color);
    text-transform: capitalize;
}
.offre-top-description p{
    font-weight: 600;
    font-size: .95rem;
    color: rgb(49, 49, 49);
}
.offre-top-description i{
    color: var(--primary-color);
    padding-right: 10px;
}
.offre-top-description button{
    align-self: center;
    justify-self: center;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: #fff;
    font-size: .9rem;
    border: none;
    margin: 10px auto;
    cursor: pointer;
}
.contact-informations{
    position: absolute;
    left: 79%;
    top: 80px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    display: none;
}
.contact-informations li{
    padding: 10px 25px;
    list-style: none;
    font-size: .9rem;
}
.contact-informations li:first-child{
    cursor: pointer;
}
.contact-informations li:hover{
    background: coral;
}
.offre-top-description button:hover{
    background: coral;
}
.offre-top-description button i{
    color: #fff;
}
.contact-informations a{
    text-decoration: none;
    color: #000;
}
.offre-middle-description{
    width: 100%;
    box-shadow: 0px 0px 3px 0px var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
    padding: 5px;
    margin-top: 10px;
    justify-items: center;
    box-sizing: border-box;
    background: #ffffff;
}
.offre-middle-description h5{
    margin: 10px;
    font-size: 0.9rem;
}
.offre-middle-description p{
    margin: 10px;
    font-size: .9rem;
}
.offre-bottom-description{
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1%;
}
.offre-bottom-description-left{
    width: 100%;
    box-shadow: 0px 0px 3px 0px var(--primary-color);
    padding: 10px;
    box-sizing: border-box;
    background: #ffffff;
}
.offre-bottom-description-right{
    box-shadow: 0px 0px 3px 0px var(--primary-color);
    padding: 10px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background: #ffffff;
}
.offre-bottom-description-right h4{
    color: var(--primary-color);
    margin: 10px;
}
.offre-bottom-description-left h4{
    color: var(--primary-color);
    font-size: 1rem;
    margin: 10px;
}
.offre-bottom-description-left li{
    padding-left: 10px;
    line-height: 1.5rem;
    color: rgb(49, 49, 49);
    font-weight: 500;
    font-size: .95rem;
}
.clear-offre{
    height: 10px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .offre-details{
        width: 98%;
        margin: 5px auto;
        height: calc(100vh - 60px);
        overflow: scroll;
        padding: 5px;
        box-sizing: border-box;
    }
    .offre-top-description{
        grid-template-columns: 1fr;
        grid-gap: 0;
        text-align: center;
        box-shadow: none;
        border-bottom: 2px solid rgb(137, 218, 238);
    }
    .offre-top-description img{
        width: 80px;
        justify-self: center;
        align-self: center;
    }
    .offre-top-description h4{
        justify-self: center;
        align-self: center;
        margin: 10px;
        font-size: 1rem;
    }
    .offre-top-description p{
        display: inline;
        margin: 0 10px;
    }
    .offre-top-description a{
        margin: 10px auto 5px;
    }
    .contact-informations{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 170px;
        text-align: left;
    }
    .offre-middle-description{
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
        padding: 5px;
        justify-items: start;
        box-shadow: none;
        border-bottom: 2px solid rgb(137, 218, 238);
    }
    .offre-middle-description h5{
        margin: 10px;
        font-size: 0.9rem;
    }
    .offre-middle-description p{
        margin: 10px;
        font-size: .9rem;
    }

    .offre-bottom-description{
        margin-top: 10px;
        width: 100%;
        display: initial;
    }
    .offre-bottom-description-left{
        margin-top: 10px;
        box-shadow: none;
        border-bottom: 2px solid rgb(137, 218, 238);
    }
    .offre-bottom-description-right{
        display: none;
    }
    .offre-bottom-description-left h4{
        margin: 5px;
    }
    .offre-bottom-description-left li{
        padding-left: 10px;
        line-height: 1.3rem;
        color: rgb(49, 49, 49);
        font-weight: 500;
        font-size: .95rem;
    }
}