.product-container{
    width: 1100px;
    margin: 20px auto;
}
.product-top{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 1%;
    padding-bottom: 10px;
}
.product-top-left{
    width: 100%;
}
.product-top-left img{
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.product-top-left div{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2%;
    margin-top: 5px;
}
.product-top-left div img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.current-show-image{
    -webkit-box-shadow: 0px 0px 0px 2px coral;
    -moz-box-shadow: 0px 0px 0px 2px coral;
    box-shadow: 0px 0px 0px 2px coral;
}
.product-top-left div img:hover{
    background: #000000;
    opacity: .7;
}
.produit-top-left-responsive{
    display: none;
}
.product-top-middle{
    width: 100%;
    position: relative;
    background: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.product-top-middle h3{
    margin-top: 0;
}
.product-top-middle span{
    font-weight: 100;
    font-size: .95rem;
}
.product-top-middle p{
    width: 100%;
    font-size: .9rem;
}
.product-modele{
    width: 100%;
    height: 100px;
    display: flex;
}
.product-modele img{
    width: 80px;
    height: 100%;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(117, 117, 117);
}
.current-product-modele{
    border: none !important;
    -webkit-box-shadow: 0px 0px 0px 2px rgb(137, 218, 238);
    -moz-box-shadow: 0px 0px 0px 2px rgb(137, 218, 238);
    box-shadow: 0px 0px 0px 2px rgb(137, 218, 238);
}
.product-top-middle div:last-child{
    position: absolute;
    bottom: 110px;
    display: flex;
}
.product-top-middle div:last-child button,
.product-top-middle div:last-child input{
    border: none;
    padding: 10px 20px;
    box-sizing: border-box;
    background: rgb(221, 78, 22);
    margin-right: 10px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.product-top-middle div:last-child button{
    cursor: initial;
}
.product-top-middle div:last-child button i{
    padding-right: 10px;
}
.product-top-middle div:last-child input:hover{
    background: rgb(137, 218, 238);
}

.product-top-right{
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background: #ffffff;
}
.product-top-right i{
    color: rgb(137, 218, 238);
}
.product-top-right div{
    width: 100%;
    text-align: center;
}
.product-top-right div img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.product-bottom{
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 2px solid rgba(194, 194, 194, 0.705);
    border-bottom: 2px solid rgb(194, 194, 194, 0.705);
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 4%;
}
.product-bottom-left{
    width: 100%;
}
.product-bottom-left img{
    width: 100%;
}
.product-bottom-right{
    width: 100%;
}
.product-bottom-right-description{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 75%;
    grid-gap: 5%;
    margin-bottom: 10px;
}
.product-bottom-right-description img{
    width: 100%;
    height: 100%;
}
.product-bottom-right-description p{
    margin: 5px 0;
    font-size: .9rem;
}
.product-bottom-right-description h4{
    margin: 0;
}
.product-bottom-right-description h5{
    color: coral;
}

.product-comment{
    width: 70%;
    margin: auto;
}
.product-comment div{
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 20% 75%;
    grid-gap: 5%;
}
.product-comment div img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    justify-self: center;
}
.product-comment div textarea{
    resize: none;
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 25px;
    align-self: center;
    outline: none;
    border: 2px solid rgb(137, 218, 238);
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 768px) {
    .product-container{
        width: 100%;
        margin: 0 0 20px;
        height: auto;
    }
    .product-top{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0%;
        padding-bottom: 0px;
    }
    .product-top-left{
        display: none;
    }
    .produit-top-left-responsive{
        background:#ffffff;
        overflow-y: hidden;
        width: 100%;
        height: 300px;
        display: grid;
        position: relative;
    }
    .produit-top-left-responsive > *{
        grid-column: 2 / -2;
    }
    .produit-top-left-responsive div:first-child{
        display: grid;
        grid-gap: 0%;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(4, 100%);
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        height: auto;
        background: #000000;
    }
    .produit-top-left-responsive div:first-child::-webkit-scrollbar{
        display: none;
    }
    .produit-top-left-responsive div:first-child img{
        scroll-snap-align: center;
        width: 100%;
        align-self: center;
        height: 100%;
    }
    .current-image-product{
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        text-align: center;
    }
    .current-image-product i{
        padding: 2px;
        box-sizing: border-box;
        font-size: .7rem;
        color: var(--primary-color);
    }
    .product-bottom{
        grid-template-columns: 1fr;
    }
    .product-modele{
        width: 100%;
        height: 80px;
        display: grid;
        grid-template-columns: repeat(5,18.4%);
        grid-gap: 2%;
        margin-top: 0;
    }
    .product-modele img{
        width: 100%;
        height: 100%;
        margin-right: 0;
    }
    .product-top-middle div:last-child{
        margin-top: 30px;
        position: initial;
        display: flex;
    }
    .product-top-middle{
        padding: 10px;
        box-sizing: border-box;
        position: initial;
        background: #ffffff;
        margin-top: 10px;
    }
    .product-top-middle h3{
        margin-bottom: 10px;
    }
    .product-top-middle h4{
        margin: 10px 0;
    }
    .product-top-middle p{
        margin: 5px 0;
    }
    .product-top-right{
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        background: #ffffff;
        margin-top: 10px;
    }
    .product-top-right h4{
        margin: 5px;
    }
    .product-bottom{
        padding-top: 10px;
        padding-bottom: 0px;
        border-top: none;
        border-bottom: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .product-bottom-left img:last-child{
        margin-bottom: 10px;
    }
    .product-bottom-right{
        display: none;
    }
    .product-comment{
        width: 100%;
        margin: -5px auto 10px;
        background: #ffffff;
        padding: 10px;
        box-sizing: border-box;
    }
    .product-comment h3{
        margin: 5px 0 10px;
    }
    .product-comment div{
        margin-bottom: 20px;
        grid-template-columns: 15% 82%;
        grid-gap: 3%;
    }
    .product-comment div textarea{
        resize: none;
        width: 100%;
        height: 40px;
        border-radius: 25px;
    }
}