.promotions-recherche-responsive{
    display: none;
}
.promotions-left{
    width: 360px;
    height: calc(100vh - 60px);
    background: #ffffff;
    position: fixed;
    overflow: hidden;
}
.promotions-left h2{
    margin: 0;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}
.promotions-left hr{
    margin: 10px auto 0px;
}
.promotions-recherche{
    width: 100%;
    position: relative;
    margin-top: 10px;
    text-align: center;
}
.promotions-recherche input{
    width: 90%;
    background: #ecedee;
    padding: 12.5px 10px 12.5px 35px;
    box-sizing: border-box;
    border: none;
    border-radius: 22.5px;
    outline: none;
}
.promotions-recherche i{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(126, 126, 126);
}
.promotions-user{
    width: 100%;
    padding: 10px 10px 0;
    box-sizing: border-box;
}
.display-promotions-user{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}
.display-promotions-user:hover{
    background: #ecedee;
}
.display-promotions-user div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ecedee;
    overflow: hidden;
    position: relative;
}
.display-promotions-user div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.display-promotions-user p{
    margin: 0 0 0 10px;
}
.promotions-notification{
    position: absolute !important;
    top: 50% !important;
    right: 22px!important;
    transform: translateY(-50%);
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    background: transparent !important;
}
.promotions-notification span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: .75rem;
    margin: 0;
    font-weight: bold;
}
#promotions_ntf{
    width: 100%;
    height: 100%;
    background: red;
    display: none;
}
/* promotion categories */
.promotion-categories{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform .4s ease-in-out;
    background: #ffffff;
}
.promotion-categories-top{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    border-bottom: 1px solid #ecedee;
    padding: 10px 0;
    box-sizing: border-box;
}
.promotion-categories-top div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ecedee;
    position: relative;
    justify-self: center;
    cursor: pointer;
}
.promotion-categories-top div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.promotion-categories-top p{
    font-size: .9rem;
    margin: 0;
}
.promotion-categories-bottom{
    width: 100%;
    height: calc(100vh - 100px);
    overflow: auto;
}
.promotion-categories-bottom::-webkit-scrollbar-track{
	background-color: #ecedee;
}
.promotion-categories-bottom::-webkit-scrollbar{
    width: 8px;
}
.promotion-categories-bottom::-webkit-scrollbar-thumb{
    background-color: #929292;
    border-radius: 5px;
}
.categorie-promotion{
    width: 100%;
    background: none;
    border-bottom: 0.1px solid #ecedee;
}
.categorie-promotion-top{
    width: 100%;
    height: 35px;
    padding: 5px 0;
    display: flex;
    margin: auto;
    cursor: pointer;
}
.categorie-promotion-top img{
    width: 30px;
    margin-left: 18px;
}
.categorie-promotion-top p{
    align-self: center;
    margin: 0 0 0 10px;
    font-weight: bold;
}
.categorie-promotion-bottom{
    width: 100%;
    display: none;
}
.categorie-promotion-bottom li{
    list-style: none;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    font-size: .95rem;
    text-transform: lowercase;
    border-bottom: 0.1px solid #ecedee;
    cursor: pointer;
}

.promotions-right{
    width: calc(100% - 360px);
    min-height: calc(100vh - 60px);
    margin-left: 360px;
    position: relative;
}
.promotions-right-container{
    width: 700px;
    margin: auto;
}
.promotion-overview{
    width: 100%;
    margin: 10px auto;
    background: #ffffff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 250px 450px;
}
.promotion-overview-left{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.promotion-overview-left div{
    width: 100%;
    height: 180px;
    position: relative;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}
.promotion-overview-left div img{
    width: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.promotion-overview-left div p{ 
    position: absolute;
    left: 0;
    bottom: 10px;
    background: #ecedeeaf;
    color: #000;
    margin: 0;
    font-size: .75rem;
    padding: 6px 8px;
    border-radius: 0 3px 3px 0;
}
.promotion-overview-left div span{
    font-weight: bold;
    font-size: .75rem;
    margin: 0;
}
.promotion-overview-right{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.promotion-overview-right-top{
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
}
.promotion-overview-right-top h3{
    margin: 0;
}
.promotion-overview-right-top h4{
    margin: 0;
    font-size: .9rem;
}
.promotion-overview-right-top span{
    font-weight: 100;
    font-size: .9rem;
}
.promotion-overview-right-middle p:first-child{
    margin: 8px 0 10px;
    font-size: .95rem;
    height: 65px;
}
.promotion-overview-right-middle p:last-child{
    margin: 5px 0;
    font-size: .95rem;
}
.promotion-overview-right-middle h4{
    margin: 5px 0;
    font-size: .95rem;
}
.promotion-overview-right-middle span{
    font-weight: 100;
    font-size: .95rem;
}
.promotion-overview-right-bottom{
    display: flex;
    align-items: center;
}
.promotion-overview-right-bottom div{
    text-align: center;
    border: none;
    padding: 7px;
    width: 35px;
    box-sizing: border-box;
    background: #ecedee;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin-left: 10px; 
}
.promotion-overview-right-bottom div:first-of-type{
    margin-left: 0;
}
.promotion-overview-right-bottom button{
    justify-self: end;
    border: none;
    padding: 8px;
    box-sizing: border-box;
    background: #ecedee;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
}
.promotion-overview-right-bottom button:hover,
.promotion-overview-right-bottom div:hover{
    background: #e0e0e0;
}
.promotion-overview-right-bottom p{
    font:600 13.3333px Arial;
    margin: 0 0 0 10px
}
.promotion-position{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    z-index: 150;
    overflow-y: auto;
}
.promotion-position-container{
    width: 530px;
    margin: 10px auto;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 0px 0px 27px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 27px -11px rgba(0,0,0,0.75);
}
.promotion-position-top{
    width: 100%;
    display: grid;
    grid-template-columns: 85% 15%;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #ecedee;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.promotion-position-top h4{
    margin: 10px 0 10px 10px;
    font-size: 1rem;
    justify-self: start;
}
.promotion-position-top div{
    width: 40px;
    height: 40px;
    background: #ecedee;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}
.promotion-position-top div:hover{
    background: #e0e0e0;
}
.promotion-position-top div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cancel-promotion-position-resp{
    display: none;
}
.promotion-position-middle{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}
.promotion-position-bottom{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
}
.promotion-position-bottom p{
    margin: 0;
    font-size: .9rem;
}
.promotion-position-bottom button{
    justify-self: end;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    background: #000000dc;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
#loader_load,
#loader_update_promotion{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #ffffff; 
    border-radius: 50%; 
    border-top: 3px solid rgb(0, 0, 0); 
    width: 40px; 
    height: 40px; 
    animation: spin 1s linear infinite; 
}
/* if there is no promotion */
.empty-prm{
    width: 100%;
}
.empty-prm p{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: .9rem;
    font-weight: bold;
}
.promotion-user-overview{
    width: 100%;
    margin: 10px auto;
    background: #ffffff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 150px 550px;
}
.promotion-user-overview-left{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.promotion-user-overview-left div{
    width: 100%;
    height: 100px;
    position: relative;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}
.promotion-user-overview-left div img{
    width: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.promotion-user-overview-right{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.promotion-user-overview-right-top{
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
}
.promotion-user-overview-right-top h4{
    margin: 0 0 5px;
}
.promotion-user-overview-right-top p{
    margin: 0;
    font-size: .9rem;
    font-weight: bold;
}
.promotion-user-overview-right-top span{
    font-weight: 100;
    font-size: .9rem;
}
.promotion-user-overview-right-middle p{
    margin: 5px 0 8px;
    font-size: .85rem;
    font-weight: bold;
}
.promotion-user-overview-right-middle span{
    font-weight: 100;
    font-size: .85rem;
}
.promotion-user-overview-right-bottom{
    display: flex;
}
.promotion-user-overview-right-bottom button{
    border: none;
    padding: 6px 12px;
    box-sizing: border-box;
    background: #ecedee;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}
.promotion-user-overview-right-bottom button:hover{
    background: #e0e0e0;
}
.promotion-user-overview-right-bottom button:last-of-type{
    background: red !important;
    color: #fff;
}
.promotion-user-overview-right-bottom button:last-of-type:hover{
    background:rgb(180, 0, 0) !important;
}
/* delete promotion */
.delete-promotion{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    z-index: 150;
    overflow-y: auto;
}
.delete-promotion-container{
    width: 530px;
    margin: 10px auto;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 0px 0px 27px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 27px -11px rgba(0,0,0,0.75);
}
.delete-promotion-top{
    width: 100%;
    display: grid;
    grid-template-columns: 85% 15%;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #ecedee;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.delete-promotion-top h4{
    margin: 10px 0 10px 10px;
    font-size: 1rem;
    justify-self: start;
}
.delete-promotion-top div{
    width: 40px;
    height: 40px;
    background: #ecedee;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}
.delete-promotion-top div:hover{
    background: #e0e0e0;
}
.delete-promotion-top div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.delete-promotion-middle p{
    font-size: 0.9rem;
    margin: 15px 10px;
}
.delete-promotion-bottom{
    padding: 0 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3%;
}
#cancel_delete_prm_button{
    color: #000;
    font-weight: bold;
    border: none;
    background: #ffffff;
    cursor: pointer;
    outline: none;
}
#delete_prm_button{
    color: #fff;
    font-weight: bold;
    background: #000000dc;
    border: none;
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
#delete_prm_button:hover{
    background: #000000;
}
/* update promotion */
#update_promotion_container{
    min-height: 97vh;
}
/* filtrer promotions */
.filter-promotions-options{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.filter-promotions-options h3{
    margin: 5px 0 10px 10px;
}
.filter-promotion{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.filter-promotion:hover{
    background: #ecedee;
}
.filter-promotion div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ecedee;
    overflow: hidden;
    position: relative;
}
.filter-promotion div i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.filter-promotion p{
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .navbar{
        height: 50px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        z-index: 50;
    }
    .navbar-left{
        display: none;
    }
    .promotions-recherche{
        display: none;
    }
    .promotions-recherche-responsive{
        position: fixed;
        top: 0;
        z-index: 50;
        height: 50px;
        width: 100%;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
        display: block;
        background: #ffffff;
    }
    .promotions-recherche-responsive-container{
        width: 91.5%;
        margin: auto;
        display: grid;
        grid-template-columns: 13% 61% 13% 13%;
        align-items: center;
        justify-items: center;
        background: #ffffff;
        padding: 3.5px 0;
        box-sizing: border-box;
        height: 50px;
    }
    #promotions_recherche_responsive{
        width: 100%;
        position: relative;
        display: none;
    }
    #promotions_recherche_responsive input{
        width: 100%;
        position: relative;
        background: #ecedee;
        padding: 8px 8px 10px 35px;
        box-sizing: border-box;
        border: none;
        border-radius: 22.5px;
        outline: none;
    }
    #promotions_recherche_responsive i{
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(126, 126, 126);
    }
    #back_history,
    #display_categories,
    #display_filter,
    #back_menu,
    #display_prm_search_bar{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        background: #ecedee;
    }
    #back_menu{
        display: none;
        justify-self: start;
    }
    #display_prm_search_bar{
        justify-self: end;
    }
    #back_history i,
    #display_categories i,
    #display_filter i,
    #back_menu i,
    #display_prm_search_bar i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .promotions-left{
        width: 80%;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
        z-index: 60;
        top: 0px;
    }
    .promotions-left h2,
    .promotions-left hr{
        display: none;
    }
    .promotions-recherche div{
        display: block;
    }
    .promotions-right{
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
    }
    .promotions-right-container{
        width: 98%;
    }
}