.categorie-search-bar{
    margin-left: 10px;
}
.categorie-search-bar input{
    display: none !important;
}
.categorie-search-bar div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ecedee;
    cursor: pointer;
}
.categorie-search-bar div:hover{
    background: #e0e0e0;
}
.categorie-search-bar div i{
    color: #000;
}
.recherche-recherche-responsive{
    display: none;
}
.recherche-left{
    width: 360px;
    height: calc(100vh - 60px);
    background: #ffffff;
    position: fixed;
    overflow: hidden;
}
.recherche-left h2{
    margin: 0;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}
.recherche-left hr{
    margin: 10px auto 0px;
}
.recherche-recherche{
    width: 100%;
    position: relative;
    margin-top: 10px;
    text-align: center;
}
.recherche-recherche input{
    width: 90%;
    background: #ecedee;
    padding: 12.5px 10px 12.5px 35px;
    box-sizing: border-box;
    border: none;
    border-radius: 22.5px;
    outline: none;
}
.recherche-recherche i{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(126, 126, 126);
}
.recherche-categories{
    width: 99%;
    overflow-y: auto;
    height: calc(100vh - 175px);
}
/* .recherche-categories::-webkit-scrollbar-track{
	background-color: #ecedee;
} */
.recherche-categories::-webkit-scrollbar{
    width: 8px;
}
.recherche-categories::-webkit-scrollbar-thumb{
    background-color: #929292;
    border-radius: 5px;
}
.recherche-categorie-top{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.recherche-categorie-top h3{
    margin: 0;
}
.recherche-categorie-bottom{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.rc-categorie{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.rc-categorie:hover{
    background: #e0e0e0;
}
.rc-categorie div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ecedee;
    overflow: hidden;
    position: relative;
}
.rc-categorie div img{
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.rc-categorie p{
    margin: 0 0 0 10px;
}
.rc-sous-gategorie{
    position: absolute;
    top: 110px;
    left: 0;
    width: 99%;
    overflow-y: auto;
    overflow-x: none;
    height: calc(100vh - 175px);
    transform: translateX(101%);
    transition: transform 0.4s ease-in-out;
    background: #ffffff;
}
.rc-sous-gategorie::-webkit-scrollbar{
    width: 8px;
}
.rc-sous-gategorie::-webkit-scrollbar-thumb{
    background-color: #929292;
    border-radius: 5px;
}
.rc-sous-gategorie-top{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    justify-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}
.rc-sous-gategorie-top h3{
    margin: 0;
    font-size: .95rem;
}
.rc-sous-gategorie-top div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ecedee;
    overflow: hidden;
    position: relative;
}
.rc-sous-gategorie-top div:first-child{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: none;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.rc-sous-gategorie-top div:first-child:hover{
    background: #ecedee;
}
.rc-sous-gategorie-top div img{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.rc-sous-gategorie-top div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.rc-sous-gategorie-bottom{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 20px;
    /* overflow: auto; */
}
.rc-sous-gategorie-bottom a{
    text-decoration: none;
    color: rgb(12, 12, 12);
}
.rc-sous-gategorie-bottom li{
    list-style: none;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    font-size: .95rem;
    text-transform: lowercase;
    border-bottom: 0.1px solid #ecedee;
    cursor: pointer;
}
.rc-sous-gategorie-bottom li:hover{
    font-weight: bold;
}
.recherche-middle{
    min-height: 100vh;
    width: 42%;
    margin: auto;
    position: relative;
}
.search-item{
    height: 120px;
    width: 500px;
    margin: 10px auto 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 200px 150px 150px;
    background: #ffffff;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    overflow: hidden;
}
.search-item-img{
    width: 190px;
    margin-left: 10px;
    height: 100px;
    align-self: center;
    overflow: hidden;
    border-radius: 7px;
}
.search-item-img img{
    width: 190px;
}
.item-notation,
.item-notation-responsive{
    font-size: .9rem;
    color: #000;
    margin-left: 10px;
}
.description-item{
    align-self: center;
}
.item-notation-responsive{
    display: none;
}
.description-item h4,h5{
    margin: 10px 0 10px 0;
    padding: 0 10px;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    width: 100%;
}
.profile-position{
    align-self: center;
    justify-self: center;
    /* width: 180px; */
}
.profile-position div{
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    background-color: #ecedee;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0 5px 0 0;
    cursor: pointer;
}
.profile-position div:hover{
    background: #e0e0e0;
}
.profile-position i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.4rem;
}
.profile-position .fa-store-alt{
    font-size: 1.2rem;
}
.profile-position div a{
    color: #000;
}
#loader_load { 
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 3px solid rgb(137, 218, 238); 
    width: 40px; 
    height: 40px; 
    animation: spinLoad 1s linear infinite; 
} 
@keyframes spinLoad { 
    100% { 
        transform: rotate(360deg); 
    } 
}  
.center-load { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
}
.recherche-right{
    width: 360px;
    height: calc(100vh - 60px);
    background: #ffffff;
    position: fixed;
    overflow: hidden;
    right: 0;
    top: 60px;
}
#map{
    width: 100%;
    height: 100%;
}

/* if message or notification are empty */
.empty-msg-ntf{
    width: 100%;
}
.empty-msg-ntf p{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: .9rem;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .navbar{
        height: 50px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        z-index: 50;
    }
    .navbar-left{
        display: none;
    }
    .recherche-recherche-responsive{
        position: fixed;
        top: 0;
        z-index: 50;
        height: 50px;
        width: 100%;
        -webkit-box-shadow: 0px 3px 15px -6px #b8b6b6;
        -moz-box-shadow: 0px 3px 15px -6px #b8b6b6;
        box-shadow: 0px 3px 15px -6px #b8b6b6;
        display: block;
        background: #ffffff;
    }
    .recherche-recherche-responsive-container{
        width: 91.5%;
        margin: auto;
        display: grid;
        grid-template-columns: 13% 61% 13% 13%;
        align-items: center;
        justify-items: center;
        background: #ffffff;
        padding: 3.5px 0;
        box-sizing: border-box;
        height: 50px;
    }
    #recherche_recherche_responsive{
        width: 100%;
        position: relative;
        display: none;
    }
    #recherche_recherche_responsive input{
        width: 100%;
        position: relative;
        background: #ecedee;
        padding: 8px 8px 8px 35px;
        box-sizing: border-box;
        border: none;
        border-radius: 22.5px;
        outline: none;
    }
    #recherche_recherche_responsive i{
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(126, 126, 126);
    }
    #back_history,
    #display_categories,
    #back_menu,
    #display_rech_search_bar{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        background: #ecedee;
    }
    #back_menu{
        justify-self: start;
        display: none;
    }
    #display_rech_search_bar{
        justify-self: end;
    }
    #back_history i,
    #display_categories i,
    #back_menu i,
    #display_rech_search_bar i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .recherche-recherche{
        display: none;
    }
    .recherche-left{
        width: 80%;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
        z-index: 60;
        top: 0;
    }
    .recherche-left h2,
    .recherche-left hr{
        display: none;
    }
    .recherche-recherche div{
        display: block;
    }
    .recherche-categories{
        width: 100%;
        height: calc(100vh - 50px);
    }
    .recherche-categories::-webkit-scrollbar{
        width: 0;
    }
    .rc-sous-gategorie{
        top: 0px;
        height: calc(100vh - 50px);
    }
    .rc-categorie{
        grid-template-columns: 20% 80%;
    }
    .rc-categorie:last-child{
        margin-bottom: 20px;
    }
    .rc-sous-gategorie-bottom{
        margin: 20px auto;
    }
    .recherche-middle{
        width: 100%;
        height: calc(100vh - 280px);
        overflow: auto;
        position: fixed;
        top: 240px;
        transition: transform 0.4s ease-in-out;
    }
    .search-item{
        width: 100%;
        grid-template-columns: 40% 60%;
        grid-template-rows: 80px 40px;
        grid-gap: 0%;
        border-radius: 0;
        margin: 5px auto;
        z-index: 1;
    }
    .search-item:last-child{
        margin-bottom: 100px;
    }
    .search-item-img{
        width: 95%;
        margin: auto;
        height: 90%;
        align-self: center;
        overflow: hidden;
        border-radius: 7px;
        position: relative;
    }
    .search-item-img img{
        width: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .text-description{
        grid-template-columns: 99%;
        grid-gap: 0%;
    }
    .item-notation{
        display: none;
    }
    .item-notation-responsive{
        margin-top: -5px;
        margin-left: 0;
    }
    .item-notation-responsive{
        display: initial;
        justify-self: center;
        align-self: center;
    }
    .top-description-item{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 0%;
    }
    .search-item p{
        display: none;
    }
    .profile-position{
        justify-self: end;
        align-self: center;
        width: auto;
        margin-right: 5px;
    }
    .description-item h4{
        font-size: .93rem;
    }
    .profile-position div{
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
    .recherche-right{
        width: 100%;
        height: 190px;
        background: #ffffff;
        position: fixed;
        right: 0;
        top: 50px;
        overflow: hidden;
        transition: transform 0.4s ease-in-out;
    }
}