.user-profile-container{
    width: 100%;
}
.user-profile-left-content,
.user-profile-middle-content,
.user-profile-right-content{
    padding: 10px;
    box-sizing: border-box;
}
.user-profile-left-content{
    height: calc(100vh - 60px);
    width: 360px;
    position: fixed;
    overflow: auto;
}
.user-profile-left-content::-webkit-scrollbar-track{
	background-color: #ecedee;
}
.user-profile-left-content::-webkit-scrollbar{
    width: 8px;
}
.user-profile-left-content::-webkit-scrollbar-thumb{
    background-color: #929292;
    border-radius: 5px;
}
.hide-scroll-bar::-webkit-scrollbar-thumb{
    visibility: hidden;
    transition: visibility 1s ease-in-out;
}
.user-profile-left-content-picture{
    width: 100%;
}
.user-profile-left-content-picture-couverture{
    width: 100%;
    height: 180px;
    position: relative;
}
.user-profile-left-content-picture-couverture > img{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
.update-user-image,
.update-user-couverture{
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 15px;
    background: #ecedee;
    cursor: pointer;
}
.update-user-image{
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.update-user-couverture{
    bottom: 10px;
    right: 10px;
}
.update-user-image:hover,
.update-user-couverture:hover{
    background: #e0e0e0;
}
.update-user-image i,
.update-user-couverture i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.user-picture{
    width: 100%;
    text-align: center;
    position: relative;
}
.user-picture img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -60px;
    -webkit-box-shadow: 0px 0px 0px 4px #ecedee;
    -moz-box-shadow: 0px 0px 0px 4px #ecedee;
    box-shadow: 0px 0px 0px 4px #ecedee;
}
.user-rating{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background: #ffffff;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.user-rating > p{
    margin: 0;
    text-transform: capitalize;
    justify-self: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
#message_button,
#follow_button,
#disfollow_button{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    grid-gap: 10px;
    border-radius: 5px;
    background: #ecedee;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#follow_button,
#disfollow_button{
    margin-bottom: 5px;
}
#message_button:hover,
#follow_button:hover,
#disfollow_button:hover{
    background: #e0e0e0;
}
#message_button p,
#follow_button p,
#disfollow_button p{
    margin: 0;
    font-size: .9rem;
}
.user-rating div{
    justify-self: center;
    font-size: 1rem;
    padding: 5px 0;
    box-sizing: border-box;
}
.user-rating div i{
    color: #000;
}
.user-map{
    width: 100%;
    height: 180px;
    background: #000;
    margin-top: 10px;
}
#user_map{
    width: 100%;
    height: 100%;
}
.user-informations{
    width: 100%;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}
.user-information{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 10px auto;
    box-sizing: border-box;
    margin-bottom: 5px;
    background: #ecedee;
    align-items: center;
    border-radius: 5px;
}
.user-information div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    justify-self: center;
}
.user-information div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: .9rem;
}
.user-information p{
    margin: 0;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    text-transform: lowercase;
    border-left: .8px solid #ffffff;
}
.user-profile-middle-content{
    margin: auto;
    width: calc(100% - 720px);
    min-height: calc(100vh - 60px);
}
.user-profile-middle-content-pub{
    position: relative;
    width: 500px;
    margin: auto;
}
.user-profile-middle-content-pub h4{
    display: none;
}
.user-profile-middle-content-pub-slide-button{
    width: 100%;
    height: 180px;
    display: flex;
    overflow: hidden;
}
#slide_left,
#slide_right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
}
#slide_left{
    left: -20px;
    display: none;
}
#slide_right{
    right: -20px;
}
#slide_right:hover,
#slide_left:hover{
    background: #e0e0e0;
}
#slide_right i,
#slide_left i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.user-profile-middle-content-pub-profile{
    width: 150px;
    height: 175px;
    margin: 2.5px 10px 2.5px 0;
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
}
.user-profile-middle-content-pub-profile img:first-of-type{
    width: 150px;
    height: 100px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}
.user-profile-middle-content-pub-profile img:last-of-type{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
    -moz-box-shadow: 0px 0px 0px 2px #ffffff;
    box-shadow: 0px 0px 0px 2px #ffffff;
}
.user-profile-middle-content-pub-profile div{
    text-align: center;
    margin-top: 20px;
}
.user-profile-middle-content-pub-profile div p{
    font-size: .8rem;
    margin: 0;
    text-transform: lowercase;
}
#new_activity_form,
#delete_activity_form,
.user-profile-left-centent #back_user_button{
    display: none;
}
#modify_user_profile,
#cancel_modify_user_profile{
    position: absolute;
    top: 10px;
    right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: rgb(137, 218, 238);
    cursor: pointer;
}
#cancel_modify_user_profile{
    display: none;
}
#modify_user_profile:hover,
#cancel_modify_user_profile:hover{
    background: coral;
}
#modify_user_profile i,
#cancel_modify_user_profile i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#delete_boutique_form,
#recover_boutique_form{
    display: none;
}
.user-profile-right-content{
    height: calc(100vh - 60px);
    width: 360px;
    position: fixed;
    overflow: auto;
    right: 0;
    top: 60px;
}
.user-profile-right-content::-webkit-scrollbar-track{
	background-color: #ecedee;
}
.user-profile-right-content::-webkit-scrollbar{
	width: 5px;
}
.user-profile-right-content::-webkit-scrollbar-thumb{
    background-color: #929292;
    border-radius: 1px;
}
.user-profile-right-content-pub{
    width: 100%;
}
.user-profile-right-content-pub div{
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 5%;
    margin-bottom: 10px;
}
.user-profile-right-content-pub img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.user-profile-right-content-pub h4,
.user-profile-right-content-boutique h4{
    margin: 0 0 10px 0
}
.user-profile-right-content > h4{
    margin-bottom: 10px;
}

/* user boutique */
.user-boutiques{
    width: 100%;
}
.user-boutiques a{
    text-decoration: none;
    color: #000;
}
.user-boutique{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 75%;
    grid-gap: 5%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.user-boutique:hover{
    background: #e0e0e0;
}
.user-boutique img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}
.user-boutique-options{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}
.user-boutique-option{
    display: flex;
    grid-gap: 15px;
}
.user-boutique-options h4{
    margin: 5px 0;
}
.user-boutique-notifications,
.user-boutique-messages{
    display: flex;
    grid-gap: 3px;
    position: relative;
    padding: 8px 5px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #e0e0e0;
}
.user-boutique-notifications p,
.user-boutique-messages p{
    margin: 0;
    font-size: .85rem;
}
.user-boutique-notifications div,
.user-boutique-messages div{
    position: absolute;
    width: 12px;
    height: 12px;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    background: red;
    display: none;
}
.user-boutique-notifications div span,
.user-boutique-messages div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: .6rem;
    font-weight: bold;
}


/* manage user publicalions */
.manage-user-publications{
    width: 90%;
    margin: 20px auto 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
}
.manage-user-publications div{
    width: 100%;
    display: flex;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #ffffff;
    cursor: pointer;
}
#show_hided_publications{
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #64646469;
}
#show_saved_publications{
    border-radius: 0 10px 10px 0;
}
.manage-user-publications div:hover{
    background: #e0e0e0;
}
.manage-user-publications div p{
    margin: 0 10px;
    font-size: .9rem;
}
.cancel-hided-publications,
.cancel-saved-publications{
    width: 500px;
    margin: auto;
    border-radius: 10px;
    background: #ffffff;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: -10px;
    -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
}
.cancel-hided-publications p,
.cancel-saved-publications p{
    margin: 0;
    font-size: .95rem;
    font-weight: bold;
}
#cancel_hided_publications_resp,
#cancel_saved_publications_resp{
    display: none;
}
#cancel_hided_publications,
#cancel_saved_publications{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
#cancel_hided_publications i,
#cancel_saved_publications i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* user publication */
.user-profile-publications{
    width: 500px;
    margin: 20px auto;
}
.user-publication{
    width: 100%;
    background: #ffffff;
    margin: 10px auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    position: relative;
}
.user-publication-top{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.user-publication-manage-top{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    background: #ecedee;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}
.user-publication-manage-top p{
    margin: 0 10px;
    font-size: .9rem;
    font-weight: bold;
}
.user-publication-top-left{
    justify-self: start;
    display: flex;
}
.user-publication-top-left img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.user-publication-top-left p{
    margin: 5px 10px;
    font-size: .9rem;
    font-weight: bold;
    align-self: center;
    text-transform: capitalize;
}
.publication-options{
    position: absolute;
    right: 20px;
    top: 45px;
    width: 70%;
    padding: 5px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 10px;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.75);
    display: none;
}
.publication-option{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    border-radius: 5px;
}
.publication-option:hover{
    background: #ecedee;
}
.publication-option div{
    justify-self: start;
}
.publication-option div p:first-child{
    font-weight: bold;
    font-size: .95rem;
    margin: 0 0 0 10px;
}
.publication-option div p:last-child{
    font-size: .8rem;
    margin: 5px 0 5px 10px;
}
.user-publication-top-right{
    justify-self: end;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    background: #ecedee;
}
.user-publication-top-right:hover{
    background: #e0e0e0;
}
.user-publication-top-right i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.user-publication-middle{
    width: 100%;
}
.user-publication-middle-description p{
    margin: 0 0 10px 10px;
    text-transform: capitalize;
    font-size: .9rem;
}
.user-publication-middle-one-view{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.user-publication-middle-one-view video,
.user-publication-middle-one-view img{
    width: 100%;
}
.user-publication-middle-one-view video{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}
.user-publication-middle-two-view{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1%;
}
.user-publication-middle-two-view div{
    width: 100%;
    height: 350px;
    background: #000000;
    position: relative;
    overflow: hidden;
}
.user-publication-middle-two-view img{
    width: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.user-publication-middle-three-view{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1%;
}
.user-publication-middle-three-view div{
    width: 100%;
    background: #000000;
    position: relative;
    overflow: hidden;
}
.user-publication-middle-three-view div:nth-child(1){
    height: calc(1% + 350px);
    grid-column: 1/3;
    grid-row: 1/3;
}
.user-publication-middle-three-view div:nth-child(2){
    height: 175px;
    grid-column: 3/4;
    grid-row: 1/2;
}
.user-publication-middle-three-view div:nth-child(3){
    height: 175px;
    grid-column: 3/4;
    grid-row: 2/3;
}
.user-publication-middle-three-view div img{
    width: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.user-publication-middle-four-view{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1%;
}
.user-publication-middle-four-view div{
    width: 100%;
    height: 250px;
    background: #000000;
    position: relative;
    overflow: hidden;
}
.user-publication-middle-four-view div img{
    width: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.user-publication-bottom{
    width: 100%;
}
.user-publication-bottom-top{
    padding: 5px 10px 10px;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    align-items: center;
}
.user-publication-bottom-top div{
    display: flex;
    align-items: center;
}
.user-publication-bottom-top div i{
    justify-self: start;
    margin-left: 5px;
    cursor: pointer;
}
.user-publication-bottom-top div span{
    margin-left: 10px;
    font-size: .9rem;
}
.user-publication-bottom-top button{
   border: none;
   background: #ffffff;
   cursor: pointer;
   padding: 5px;
   box-sizing: border-box;
   border-radius: 5px;
   outline: none;
}
.user-publication-bottom-top button:hover{
    background: #e0e0e0;
}
.user-publication-bottom-top p{
    justify-self: end;
    margin: 5px;
    font-size: .75rem;
}
.user-publication-bottom-bottom{
    width: 100%;
    padding-bottom: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 12% 88%;
    align-items: center;
}
.user-publication-bottom-bottom img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-self: center;
}
.user-publication-bottom-bottom input{
    width: 95%;
    padding: 8px 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #ecedee;
    border-radius: 17.5px;
    justify-self: start;
}
.user-publication-bottom-comment{
    width: 100%;
    padding-bottom: 10px;
    box-sizing: border-box;
    display: none;
    grid-template-columns: 12% 88%;
    align-items: center;
}
.user-publication-bottom-preview{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 12% 88%;
    align-items: center;
}
.user-publication-bottom-comment img,
.user-publication-bottom-preview img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-self: center;
    margin-top: -5px;
}
.publication-comment,
.publication-comment-preview{
    width: 95%;
    padding: 5px;
    box-sizing: border-box;
    background: #ecedee;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}
.publication-comment h5,
.publication-comment-preview h5{
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
}
.publication-comment h4,
.publication-comment-preview h4{
    margin: 0 5px;
    font-size: .85rem;
}
.publication-comment p,
.publication-comment-preview p{
    margin: 2px 5px;
    font-size: .9rem;
    word-wrap: break-word;
}
.publication-comment div,
.publication-comment-preview div{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    right: -5px;
    bottom: -8px;
    border: 2px solid #ecedee;
    box-sizing: border-box;
    cursor: pointer;
}
.publication-comment div:hover,
.publication-comment-preview div:hover{
    background: #ececec;
}
.publication-comment div i,
.publication-comment-preview div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: .9rem;
}
.display-user-publications-comments{
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    top: 0px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.utilisateur-informations{
    text-align: center;
    width: 35%;
    margin: 70px auto;
    background: var(--primary-color);
    padding: 20px;
}
.utilisateur-informations img{
    width: 200px;
}

#check_btn{
    display: none;
}

.pre-update-profile{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    z-index: 150;
    overflow-y: auto;
}
.pre-update-profile::-webkit-scrollbar{
    display: none;
}
.pre-update-profile-container{
    width: 530px;
    margin: 10px auto;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 0px 0px 27px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 27px -11px rgba(0,0,0,0.75);
}
.pre-update-profile-container h4{
    text-align: center;
    margin: 10px auto 20px;
    font-size: 1.1rem;
}
.pre-update-profile-left{
    width: 100%;
    margin: auto;
}
.pre-update-profile-left div{
    width: 100%;
    margin: 0 auto 10px;
    position: relative;
    z-index: 1;
}
.pre-update-profile-left input,
.pre-update-profile-left select{
    width: 100%;
    padding: 18px 9px 12px;
    box-sizing: border-box;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
    z-index: 10;
    background: rgba(209, 209, 209, 0.3);
}
.pre-update-profile-left span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: .9rem;
    font-weight: bold;
    left: 12px;
    opacity: .4;
    z-index: -1;
}
.pre-nom-user,
.pre-categorie-user,
.pre-profession-user,
.pre-updt-active-span{
    top: 5px !important;
    transform: none !important;
    font-size: .7rem !important;
}
.pre-profession option{
    text-transform: lowercase;
}
.pre-profession-autre{
    display: none;
}
.pre-update-profile-container button{
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    background: #000000dc;
    border-radius: 5px;
    margin: 10px auto;
    color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
.pre-update-profile-container button:hover{
    background: #000000;
}
#loader_load,
#loader_abn_user,
#loader_disabn_user,
#loader_msg_user,
#loader_comments,
#loader_publications,
#loader_btq_id{ 
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 3px solid #000; 
    width: 40px; 
    height: 40px; 
    animation: spin 1s linear infinite; 
}

/* messager user */
.abonne-user,
.message-user{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    z-index: 150;
    overflow-y: auto;
}
.abonne-user-container,
.message-user-container{
    width: 530px;
    margin: 10px auto;
    padding: 10px 20px; 
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 0px 0px 27px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 27px -11px rgba(0,0,0,0.75);
}
.abonne-user-top,
.message-user-top{
    width: 100%;
    display: grid;
    grid-template-columns: 85% 15%;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid #ecedee;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.abonne-user-top h4,
.message-user-top h4{
    margin: 10px 0 10px 10px;
    font-size: 1rem;
    justify-self: start;
}
.abonne-user-top div,
.message-user-top div{
    width: 40px;
    height: 40px;
    background: #ecedee;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}
.abonne-user-top div:hover,
.message-user-top div:hover{
    background: #e0e0e0;
}
.abonne-user-top div i,
.message-user-top div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.abonne-user-middle p,
.message-user-middle p{
    font-size: 0.9rem;
    margin: 15px 10px;
}
.abonne-user-middle{
    display: flex;
    align-items: center;
}
.abonne-user-middle div{
    width: 30px;
    height: 30px;
    position: relative;
    background: #ecedee;
    margin-right: 5px;
    cursor: pointer;
}
.abonne-user-middle div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: green;
}
.abonne-user-middle div .fa-ban{
    color: red;
}
.message-user-middle textarea{
    width: 100%;
    height: 150px;
    border: 2px solid #ecedee;
    resize: none;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    box-sizing: border-box;
}
.abonne-user-bottom,
.message-user-bottom{
    padding: 0 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3%;
}
#cancel_abonne_user_button,
#cancel_disabonne_user_button,
#cancel_message_user_button{
    color: #000;
    font-weight: bold;
    border: none;
    background: #ffffff;
    cursor: pointer;
    outline: none;
}
#abonne_user_button,
#disabonne_user_button,
#message_user_button{
    color: #fff;
    font-weight: bold;
    background: #000000dc;
    border: none;
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
#abonne_user_button:hover,
#disabonne_user_button:hover,
#message_user_button:hover{
    background: #000000;
}

@media only screen and (max-width: 1250px) {
    .user-profile-left-content{
        width: 520px;
        height: auto;
        margin: auto;
        position: initial;
    }
    .user-profile-middle-content{
        width: 100%;
        margin-left: 0;
    }
    .user-profile-right-content{
        display: none;
    }
    .user-profile-left-content-picture-couverture{
        height: 230px;
    }
}
@media only screen and (max-width: 768px) {
    .user-profile-left-content,
    .user-profile-right-content{
        display: block;
    }
    .user-publication-manage-top{
        border-radius: 0;
        background: #ffffff;
        width: 95%;
        margin: 0 auto 10px;
        border-bottom: 1px solid #ecedee;
    }
    .user-profile-container{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .user-profile-left-content{
        padding-top: 10px;
        height: auto;
        width: 100%;
        position: initial;
        background: #ffffff;
        order: 1;
        overflow: initial;
    }
    .user-profile-left-content-picture-couverture{
        height: 180px;
    }
    .user-picture img{
        -webkit-box-shadow: 0px 0px 0px 4px #ffffff;
        -moz-box-shadow: 0px 0px 0px 4px #ffffff;
        box-shadow: 0px 0px 0px 4px #ffffff;
    }
    .user-informations{
        padding: 0;
    }
    .user-map{
        margin-top: 0;
    }
    .user-profile-middle-content{
        order: 3;
        width: 100%;
        padding: 0;
        margin-bottom: 60px;
        min-height: auto;
    }
    .user-profile-middle-content-pub-slide-button{
        overflow-x: auto;
    }
    .user-profile-middle-content-pub{
        background: #ffffff;
        padding: 10px;
        box-sizing: border-box;
        margin-top: 10px;
        width: 100%;
    }
    .user-profile-middle-content-pub-slide-button{
        margin-top: 16px;
    }
    .user-profile-middle-content-pub h4{
        display: initial;
    }
    .user-profile-middle-content-pub-profile{
        border: 2px solid #ecedee;
        margin: 0px 10px 2.5px 0;
    }
    .user-profile-middle-content-pub-slide-button::-webkit-scrollbar{
        display: none;
    }
    #slide_left,
    #slide_right{
        display: none;
    }
    .user-profile-right-content{
        height: auto;
        width: 100%;
        position: initial;
        overflow: initial;
        order: 2;
        padding: 0;
    }
    .user-profile-right-content hr{
        display: none;
    }
    .user-profile-right-content h4{
        margin-top: 0;
    }
    .user-profile-right-content-pub{
        background: #ffffff;
        margin-top: 10px;
        padding: 10px;
        box-sizing: border-box;
    }
    .user-profile-right-content-boutique{
        background: #ffffff;
        margin-top: 10px;
        padding: 10px;
        box-sizing: border-box;
    }
    .user-boutique-notifications,
    .user-boutique-messages{
        display: flex;
        grid-gap: 3px;
        position: relative;
        padding: 0;
        box-sizing: border-box;
        border-radius: 0;
        background: none;
    }
    .manage-user-publications{
        width: 100%;
        margin: 10px auto;
    }
    .manage-user-publications div{
        width: 100%;
        display: flex;
        padding: 15px 5px;
        align-items: center;
    }
    .manage-user-publications div:hover{
        background: none;
    }
    #show_hided_publications,
    #show_saved_publications{
        border-radius: 0;
    }
    .show-hided-publications-container .user-profile-publications,
    .show-saved-publications-container .user-profile-publications{
        margin: 10px auto;
        height: calc(100vh - 50px);
        overflow: auto;
        width: 100%;
    }
    .show-hided-publications-container .user-publication,
    .show-saved-publications-container .user-publication{
        margin: 10px auto 0;
        width: 100%;
    }
    .manage-user-publications div p{
        margin: 0 0 0 10px;
        font-size: .8rem;
    }
    .manage-user-publications div i{
        font-size: .8rem;
    }
    .cancel-hided-publications,
    .cancel-saved-publications{
        width: 100%;
        border-radius: 0;
        text-align: initial;
        padding: 10px;
        display: grid;
        grid-template-columns: 15% 85%;
        justify-items: center;
        align-items: center;
    }
    #cancel_hided_publications_resp,
    #cancel_saved_publications_resp{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #ecedee;
    }
    #cancel_hided_publications_resp i,
    #cancel_saved_publications_resp i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #cancel_hided_publications,
    #cancel_saved_publications{
        display: none;
    }

    /* user publication */
    .user-profile-publications{
        width: 100%;
        margin: 10px auto;
    }
    .user-publication{
        border-radius: 0;
        box-shadow: none;
    }
    .user-publication-bottom-top div i{
        font-size: 1.3rem;
        margin-left: 3px;
        padding: 5px;
        box-sizing: border-box;
        margin-left: -4px;
    }
    .user-publication-bottom-top button:hover{
        background: none;
    }
    .publication-options{
        position: fixed;
        right: 0;
        left: 0;
        top: auto;
        bottom: 0;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        background: #ffffff;
        border-radius: 0;
        z-index: 150;
        box-shadow: none;
        display: block;
        height: 280px;
        transform: translateY(100%);
        transition: transform .4s ease-in-out;
    }
    .user-publication-middle-two-view div{
        height: 260px;
    }
    .show-hided-publications,
    .show-saved-publications{
        transform: translateX(100%);
        display: block;
        transition: transform 0.4s ease-in-out;
        background: #ecedee;
    }
    .show-hided-publications-container,
    .show-saved-publications-container{
        width: 100%;
        margin: 0;
    }
    .display-user-publications-comments{
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #ffffff;
        padding: 10px;
        box-sizing: border-box;
        height: calc(100vh - 60px);
        z-index: 150;
        transform: translateY(100%);
        transition: transform .4s ease-in-out;
    }
    .display-user-publications-comments-top{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 12% 88%;
        align-self: center;
        justify-self: center;
        border-bottom: 1px solid #ecedee;
    }
    .display-user-publications-comments-top div{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        background: #eeeded;
    }
    .display-user-publications-comments-top div i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
    .display-user-publications-comments-top h4{
        margin: 0;
        align-self: center;
    }
    .display-user-publications-comments-container{
        position: fixed;
        top: 51px;
        left: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        height: calc(100vh - 103px);
        overflow: auto;
    }
    .publicaiton-comment-details{
        width: 100%;
        display: grid;
        grid-template-columns: 12% 88%;
        align-items: center;
        margin-bottom: 5px;
    }
    .publicaiton-comment-details img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    /* .publicaiton-comment div{
        width: 95%;
        padding: 5px;
        box-sizing: border-box;
        background: #ecedee;
        border-radius: 10px;
        margin-bottom: 5px;
        justify-self: center;
    }
    .publicaiton-comment div h4{
        margin: 0 5px;
        font-size: .85rem;
    }
    .publicaiton-comment div p{
        margin: 5px;
        font-size: .9rem;
        word-wrap: break-word;
    } */
    .display-user-publications-comments-bottom{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: grid;
        padding: 10px;
        box-sizing: border-box;
        grid-template-columns: 88% 12%;
        align-items: center;
        border-top: 1px solid #ecedee;
        background: #ffffff;
    }
    .display-user-publications-comments-bottom input{
        width: 100%;
        padding: 10px 15px;
        box-sizing: border-box;
        border: none;
        outline: none;
        background: #ecedee;
        border-radius: 17.5px;
        justify-self: center;
    }
    .display-user-publications-comments-bottom div{
        justify-self: center;
        position: relative;
        align-self: center;
    }
    .display-user-publications-comments-bottom div img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 25px;
        height: 25px;
        border-radius: 0;
        margin-top: 0;
        margin-left: 5px;
    }

    .pre-update-profile{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: none;
        display: none;
    }
    .pre-update-profile-container{
        width:98%;
        margin: auto;
        background: #ffffff;
        border-radius: 5px;
        position: relative;
        top: 50%;
        left: 0;
        padding: 20px 20px 40px;
        box-sizing: border-box;
        transform: translateY(-50%);
    }
    .pre-update-profile-left{
        width: 100%;
        margin: auto;
    }
    .abonne-user,
    .message-user{
        position: fixed;
        width: 100%;
        height: 30vh;
        bottom: 0;
        left: 0;
        top: auto;
        display: block;
        z-index: 150;
        transform: translateY(100%);
        transition: transform 0.4s ease-in-out;
        background: #ffffff;
    }
    .message-user{
        height: 55vh;
    }
    .abonne-user-container,
    .message-user-container{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 10px 20px;
        box-sizing: border-box;
        background: #ffffff;
        border-radius: 0;
        top: 0;
        left: 0;
        transform: none;
        position: initial;
        box-shadow: none;
    }
}